body {
  margin: 0;
  font-family: "Merriweather", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Mukta", "Courier New", monospace;
}

:root {
  font-family: "Mukta", "Segoe UI", "Roboto", sans-serif;
}
